body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  transition: color 150ms var(--timing-function), background-color 150ms var(--timing-function);
  background-color: #99ff99;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.button {
  border: none;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.flex-center-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countries {
  // text-align: center;
}

.countries__title {
  font-size: 30px;
  text-align: center;
  color: #33eb0e;
}

.countries__form {
  margin-bottom: 20px;
}

.counrtries__form-wrap {
  position: relative;
  width: 50%;
  min-width: 310px;
  margin-right: auto;
  margin-left: auto;
}

.countries__search {
  // display: block;
  // text-align: center;
}

.countries__input {
  width: 100%;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-style: solid;
  border-width: 4px;
  border-color: transparent;
  border-radius: 5px;
  outline: none;
  &::placeholder {
    color: rgba(51, 235, 14, 0.5);
  }
  &:hover,
  &:focus {
    border-color: #33eb0e;
  }
}

.countries__search-cleaner {
  position: absolute;
  top: 47%;
  right: -10px;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  color: #33eb0e;
  background-color: transparent;
}

.countries__search-cross {
  fill: currentColor;
}

.countries__info {
  // margin-right: auto;
  // margin-left: auto;
}

.countries__wrap {
  padding-right: 10px;
  padding-left: 10px;
}

.countries__info-wrap {
  margin-right: 10px;
}

.countries__list {
  text-align: center;
}

.countries__capital,
.countries__population,
.countries__languages {
  margin-top: 0;
  margin-bottom: 5px;
}

.countries__name,
.sub-title {
  font-weight: 700;
}

.countries__name {
  // margin-right: auto;
  // margin-left: auto;
  margin-bottom: 15px;
  font-size: 22px;
  text-align: center;
}

.countries__languages-item {
  margin-top: 5px;
  margin-left: 10px;
}

.countries__flag {
  display: block;
  min-width: 160px;
  min-height: 100px;
  width: 26%;
  height: 20%;
}
