.loading-spinner {
  display: block;
  height: 40px;
  width: 40px;
  margin-right: auto;
  margin-left: auto;
  background: transparent;
  border-radius: 50%;
  border-top: 3px solid #33eb0e;
  border-right: 2px solid transparent;
  border-bottom: none;
  border-left: none;
  animation: spinner5 600ms linear infinite;

  &.is-hidden {
    display: none;
  }
}

// .loading-spinner.is-hidden {
//   display: none;
// }

@keyframes spinner5 {
  to {
    transform: rotate(360deg);
  }
}
